<div style="left: 0;
position: fixed;
right: 0;
top: 0;
z-index: 999;">
<header class="main-header" style="border-radius: 2px;
box-shadow: 0px 2px 10px #999;">

    <!-- Logo -->
    <div class="logo">
      <!-- mini logo for sidebar mini 50x50 pixels -->
      <span class="logo-mini"><b>DC</b></span>
      <!-- logo for regular state and mobile devices -->
      <span class="logo-lg"><b>Dealer Connect</b></span>
    </div>

    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
      <!-- Sidebar toggle button-->
      <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
        <span class="sr-only">Toggle navigation</span>
      </a>
      <!-- Navbar Right Menu -->
      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          <!-- User Account: style can be found in dropdown.less -->
          <li class="dropdown user user-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <!-- <img src="" class="user-image" alt=""> -->
              <i class="fa fa-user" style="color:#fff;"></i>
              <span>Super Admin</span>
            </a>
            <ul class="dropdown-menu">
              <!-- User image -->
              <!-- Menu Footer-->
              <li class="user-footer">
               
                <div class="pull-right">
                  <a href="#" class="btn btn-default btn-flat">Sign out</a>
                </div>
              </li>
            </ul>
          </li>
        </ul>
      </div>

    </nav>
  </header>
</div>
  <!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar" style="position: fixed;">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar" style="padding-top: 20px;">
      <!-- Sidebar user panel -->
      
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu" data-widget="tree">
        <li routerLinkActive="active">
          <a [routerLink]="['/dashboard']">
            <i class="fa fa-home fa-lg"></i> <span>Home</span>
          </a>
        </li>
        <li class="treeview link-pointer" routerLinkActive="active menu-open">
          <a>
            <i class="fa fa-handshake-o fa-lg"></i>
            <span>Dealer Orders</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li routerLinkActive="active"><a [routerLink]="['/dealerOrders/local']"> Local</a></li>
            <li routerLinkActive="active"><a [routerLink]="['/dealerOrders/outstation']"> Outstation</a></li>
            <li routerLinkActive="active"><a [routerLink]="['/dealerOrders/replacement']"> Replacement</a></li>
            <li routerLinkActive="active"><a [routerLink]="['/dealerOrders/returned']"><span class="pull-right-container">
                <small class="label pull-right bg-green">new</small>
              </span> Returned orders</a></li>
          </ul>
        </li>
        <li class="treeview link-pointer" routerLinkActive="active menu-open">
            <a>
              <i class="fa fa-cart-arrow-down fa-lg"></i>
              <span>Internal Orders</span>
              <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
              </span>
            </a>
            <ul class="treeview-menu">
              <li routerLinkActive="active"><a [routerLink]="['/internalOrders/depot']"><span class="pull-right-container">
                <small class="label pull-right bg-green">new</small>
              </span> Depot</a></li>
              <li routerLinkActive="active"><a [routerLink]="['/internalOrders/returned']"><span class="pull-right-container">
                <small class="label pull-right bg-green">new</small>
              </span> Returned</a></li>
            </ul>
        </li>
        <li class="treeview link-pointer" routerLinkActive="active menu-open">
            <a>
              <i class="fa fa-users fa-lg"></i>
              <span>Profiles</span>
              <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
              </span>
            </a>
            <ul class="treeview-menu">
              <li routerLinkActive="active"><a [routerLink]="['/profiles/dealer']"> Dealer Profiles</a></li>
              <li routerLinkActive="active"><a [routerLink]="['/profiles/salesmen']"> Salesmen</a></li>
            </ul>
        </li>
        <li class="" routerLinkActive="active">
            <a [routerLink]="['/promotions']">
              <i class="fa fa-plus-circle fa-lg"></i> <span>Promotions</span>
            </a>
        </li>
        <li class="" routerLinkActive="active">
            <a [routerLink]="['/homeBanners']">
              <i class="fa fa-picture-o fa-lg"></i> <span>Home Banners</span>
            </a>
        </li>
        <li class="" routerLinkActive="active">
            <a [routerLink]="['/feedback']">
              <i class="fa fa-comments fa-lg"></i> <span>Feedback</span>
            </a>
        </li>
        <li class="treeview link-pointer" routerLinkActive="active menu-open">
            <a>
              <i class="fa fa-file-text fa-lg"></i>
              <span>Reports</span>
              <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
              </span>
            </a>
            <ul class="treeview-menu">
              <li style="margin-left: -7px;" routerLinkActive="active"><a href="pages/UI/general.html"> Depot-wise SKUs for Booked<br> Orders</a></li>
              <li routerLinkActive="active"><a href="pages/UI/icons.html"><span class="pull-right-container">
                <small class="label pull-right bg-green">new</small>
              </span> All Orders Report</a></li>
              <li routerLinkActive="active"><a href="pages/UI/buttons.html"><span class="pull-right-container">
                <small class="label pull-right bg-green">new</small>
              </span> Reward Vouchers</a></li>
              <li routerLinkActive="active"><a href="pages/UI/sliders.html"><span class="pull-right-container">
                <small class="label pull-right bg-green">new</small>
              </span> Depot Stock</a></li>
            </ul>
        </li>  
      </ul>
    </section>
    <!-- /.sidebar -->
  </aside>