<div class="wrapper">
    <app-header></app-header>
     <!-- Content Wrapper. Contains page content -->
     <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <h1>
            Dashboard
            <small>Version 2.0</small>
          </h1>
          <ol class="breadcrumb">
            <li><a [routerLink]="['/dashboard']"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Internal Orders</li>
          </ol>
        </section>
    
        <!-- Main content -->
        <section class="content">
          <div class="row" >
           
          </div>
          <!-- /.row -->
        </section>
        <!-- /.content -->
      </div>
      <!-- /.content-wrapper -->
    <!-- <app-footer></app-footer> -->
    </div>
    <!-- ./wrapper -->