<div class="wrapper">
  <app-header></app-header>
   <!-- Content Wrapper. Contains page content -->
   <div class="content-wrapper" style="padding-top:50px;">
      <!-- Content Header (Page header) -->
      <section class="content-header">
        <h1>
          Dashboard
          <small>Version 2.0</small>
        </h1>
        <ol class="breadcrumb">
          <li><a [routerLink]="['/dashboard']"><i class="fa fa-dashboard"></i> Home</a></li>
          <li class="active">Dealer Orders</li>
        </ol>
      </section>
  
      <!-- Main content -->
      <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Local Dealer Orders</h3>
                      </div>
                      <!-- /.box-header -->          
                    <div class="box-body table-responsive">
            <table datatable [dtOptions]="dtOptions" [dtTrigger]="subject" class="table table-bordered row-border table-striped">
                <thead>
                    <!-- <tr>
                        <th><input type="text" placeholder="Search User ID" name="search-uid"/></th>
                        <th><input type="text" placeholder="Search ID" name="search-id"/></th>
                        <th><input type="text" placeholder="Search first name" name="search-first-name"/></th>
                        <th><input type="text" placeholder="Search last name" name="search-last-name"/></th>
                    </tr> -->
                  <tr>
                    <th scope="col">Order ID</th>
                    <th scope="col">Dealer Name</th>
                    <th scope="col">Location</th>
                    <th scope="col">Order Date</th>
                    <th scope="col">Update Date</th>
                    <th scope="col">Submitted By</th>
                    <th scope="col">Liters</th>
                    <th scope="col">Bill No.</th>
                    <th scope="col">Time to Dispatch(hrs:mins:secs)</th>
                    <th scope="col">Status</th>
                    <th scope="col">Route</th>
                    <th scope="col">Order Details</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let person of persons" scope="row">
                      <td>{{ person.userId }}</td>
                    <td>{{ person.id }}</td>
                    <td>{{ person.title }}</td>
                    <td>{{ person.completed }}</td>
                    <td>{{ person.userId }}</td>
                    <td>{{ person.id }}</td>
                    <td>4500</td>
                    <td>{{ person.completed }}</td>
                    <td>{{ person.userId }}</td>
                    <td>{{ person.id }}</td>
                    <td>{{ person.title }}</td>
                    <td><button type="button" class="btn" style="background-color: #28669b;color:#fff;">Order Details</button></td>
                  </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <th><input type="text" placeholder="Search.." name="search-user-id" style="width: 70px;"/></th>
                        <th><input type="text" placeholder="Search.." name="search-id"  style="width: 70px;"/></th>
                        <th><input type="text" placeholder="Search.." name="search-title"  style="width: 115px;"/></th>
                        <th><input type="text" placeholder="Search.." name="search-completed"  style="width: 70px;" /></th>
                        <th><input type="text" placeholder="Search.." name="search-user-id"  style="width: 70px;" /></th>
                        <th><input type="text" placeholder="Search.." name="search-id"  style="width: 70px;"/></th>
                        <th><input type="text" placeholder="Search.." name="search-title"  style="width: 70px;"/></th>
                        <th><input type="text" placeholder="Search.." name="search-completed"  style="width: 70px;"/></th>
                        <th><input type="text" placeholder="Search.." name="search-user-id"  style="width: 70px;"/></th>
                        <th><input type="text" placeholder="Search.." name="search-id"  style="width: 70px;"/></th>
                        <th><input type="text" placeholder="Search.." name="search-title"  style="width: 115px;"/></th>
                        <th><input type="text" placeholder="Search.." name="search-completed"  style="width: 70px;"/></th>
      
                      </tr>
                  </tfoot>
                </table>
                </div>
                </div>
                </div>
        </div>
        <!-- /.row -->
      </section>
      <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    <!-- <app-footer></app-footer> -->
  </div>
  <!-- ./wrapper -->
 